@model VacationAccrual.Models.PayPeriod

@{
    ViewBag.Title = "Forecast";
}

<div style="text-align:center"><h3>Vacation/PTO Accrual Calculator/Forecast</h3></div>
<br />

@using(Html.BeginForm())
{
    <div style="text-align:center">
        <label style="font-size:18px">Pay period Startdate:</label>&nbsp;
        <select name="StartDate" style="font-size:15px" asp-items="Global.GetStartDateList()"></select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label style="font-size:18px">Accrual:</label>&nbsp;
        <input name="Accural" maxlength="4" style="width:55px; font-size:15px;" placeholder="(hours)" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label style="font-size:18px">Balance:</label>&nbsp;
        <input name="Balance" maxlength="5" style="width:55px; font-size:15px;" placeholder="(hours)" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" name="Command" value="Submit" class="btn btn-primary" />
    </div>
    <br />

    if (Model != null) 
    {
        <table style="width: auto; font-size:15px;" align="center" class="table table-bordered table-condensed table-hover">
            <thead> 
                <tr>
                    <th>Period</th>
                    <th>Accural</th>
                    <th>Take</th>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model.PeriodList)
                    {
                        <tr>
                            <td>@item.Period</td>
                            <td>@item.Accural</td>
                            <td><input name="Take" maxlength="4" style="width:40px; font-size:15px;" value="@item.Take" /></td>
                            <td>@item.Balance</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
}