@model IEnumerable<VacationAccrual.Models.PayPeriod>

@{
    ViewBag.Title = "Forecast";
}

<br />
<div style="text-align:center"><h1>Vacation/PTO Accrual Calculator/Forecast</h1></div>
<br />
<div style="text-align:center">
    <label style="font-size:25px">Vacation Accrual for a period:</label> &nbsp;&nbsp;
    <input id="VacationAccrual" maxlength="4" style="width:60px; font-size:25px;" /> &nbsp;
	<label style="font-size:25px; font-style:italic">(hours)</label>
</div>
<br /><br />
<table class="table table-bordered">
	<thead>
		<tr>
			<th>Period</th>
            <th>Accural</th>
            <th>Take</th>
            <th>Balance</th>
		</tr>
	</thead>
	<tbody>
		@if(Model != null && Model.Count() > 0)
		{
		    foreach (var item in Model)
            {
                <tr>
                    <td>@item.Period</td>
                    <td>@item.Accural</td>
                    <td>@item.Take</td>
                    <td>@item.Balance</td>
                </tr>
            }
		}
	</tbody>
</table>