@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
<div>
    <p>
        Thank you for confirming your email. Please <a asp-page="./Login" asp-route-returnUrl="/Home/Preferences">click here to log in</a>.
    </p>
</div>
