@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>Confirmation email sent</h1>
<p>
    Please check your email and confirm your account, you must be confirmed before you can log in.
</p>