.red-yellow {
    color: red;
    background-color: yellow;
}
.input-disabled {
    background-color:#EBEBE4;
    border:1px solid #ABADB3;
}
#SelectedStartDate,
#SelectedPeriods {
    font-size: 15px;
}
label {
    font-size: 18px;
}
.textbox {
    width: 45px; 
    font-size: 15px;
}
#periodsTbl {
    width: auto; 
    font-size: 15px;
}
.take {
    width: 40px;
    font-size: 15px;
}