.red {
    color: red;
}
.input-disabled {
    background-color:#EBEBE4;
    border:1px solid #ABADB3;
}
#SelectedStartDate,
#SelectedPeriods,
#MaxBalance,
#Accural,
#Balance {
    font-size: 16px;
}
label,
#submitBtn {
    font-size: 16px;
    font-weight: normal;
    margin-left: 30px;
}
.textbox {
    width: 50px; 
    font-size: 16px;
}
#periodsTbl {
    width: auto; 
    font-size: 16px;
}
.take {
    width: 40px;
    font-size: 16px;
}